@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Karla', sans-serif;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

html{
  font-family: 'Karla', sans-serif;
}

p{
  margin: 0;
}

a{
  text-decoration: none;
}

a:active{
  color: unset;
}
